<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <form action="{{ url_for('submit') }}" method="POST">
    <textarea name="text" placeholder="Enter a sentence here"></textarea>
    <input type="submit" id="submit" />
    <script>
       var elmSubmit =  document.getElementById("submit");
       document.getElementById("submit").addEventListener("click", function() {
            elmSubmit.value = "Please wait";
       });
    </script>

    <h1>api examples</h1>
    Send a simple `POST` request with text, and the response is a
    text to speech (TTS) .wav file.

    <h2>fetch example</h2>
    <pre>
    fetch("http://host-or-ip/submit", {
      "headers": {
        "content-type": "application/x-www-form-urlencoded",
      },
      "body": "text=With+this+you+can+generate+audio+from+text.",
      "method": "POST",
      "mode": "cors",
      "credentials": "omit"
    });
    </pre>

    <h2>curl example</h2>
    <pre>
    curl 'http://host-or-ip/submit' \
    --data-raw 'text=With+this+you+can+generate+audio+from+text.' \
    --insecure
    </pre>

    </body>
</html>
